.env
.swp
result
novaStatus.keep
hardware-configuration.nix
*.qcow2
*.iso
output/*
result*
# Task
.task/
# Env
.env
.env.local
.env.*.local
# Devbox
.devbox/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
